{% import 'macros/form.html' as form %}

{% macro help_text() %}
  {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
{% endmacro %}

{%- call form.input_block(
    'field-' + field.field_name,
    label=h.scheming_language_text(field.label),
    classes=['control-medium'],
    error=errors[field.field_name],
    is_required=h.scheming_field_required(field),
    extra_html=help_text()
    ) -%}
  <input type="hidden" multiple
      size="{{ field.get('select_size', field.choices|length) }}"
      style="display: block"
      id="field-{{ field.field_name }}"
      name="{{ field.field_name }}"
      placeholder="{{ _('Add Wikidata items to describe the dataset...') }}"
      data-selected="{{ h.dump_json(data.get(field.field_name)) }}"
      data-module="input-wikidata" }}
  >
  </input>
{%- endcall -%}

{% asset 'wikidatakeyword/input-js' %}
