{#

Renders a list of keywords.

keywords - the list of keywords to render

#}

{% import 'macros/form.html' as form %}

{% if keywords %}
  <h3>{{ _('Wikidata Keywords') }}</h3>
  <section class="tags">
    <div id="wikidata_labels" {{ form.attributes({"data-module": "show-wikidata"}) }}>
      <ul class="tag-list well">
        {% for keyword in keywords %}
          <li class="tag">{{ keyword }}</li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}

{% asset 'wikidatakeyword/show-js' %}
